@import "tailwindcss";

:root {
  --background: #ececec;
  --neutral: #f8fafc;
  --accent: #f1f5f9;
  --border: #e2e8f0;
  --text-primary: #0f172a;
  --text-muted: #64748b;
  --positive: #10b981;
  --negative: #ef4444;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}
